@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*,
::after,
::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: grid;
    place-items: center;
}

.calculator_container {
    background-color: #080118;
    background-color: #110B2C;
    padding: 15px 20px 15px 15px;
    border-radius: 15px;
}

.calculator_container .calculator_display {
    display: flex;
    flex-direction: column;
    height: 170px;
}

.calculator_display h2 {
    font-family: 'Nunito', sans-serif;
    font-size: 1.5rem;
    color: #fff;
    user-select: none;
}

.calculator_display .expression_display {
    margin: 40px 0px 0px 0px;
    padding: 0px 10px 0px 10px;
}

.calculator_display .expression_display .expression {
    font-family: 'Nunito', sans-serif;
    font-size: 2.5rem;
    text-align: right;
    width: 290px;
    border: none;
    outline: none;
    background-color: #110B2C;
    color: #fff;
}

.calculator_container .calculator_buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 20px;
}

.calculator_container .calculator_buttons button {
    background: transparent;
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    border: none;
    padding: 17px;
    user-select: none;
    cursor: pointer;
    border-radius: 50%;
  -webkit-tap-highlight-color: transparent;
}

.calculator_container .calculator_buttons .divide_btn,
.calculator_container .calculator_buttons .multiply_btn,
.calculator_container .calculator_buttons .minus_btn,
.calculator_container .calculator_buttons .plus_btn,
.calculator_container .calculator_buttons .equals_btn {
    font-family: 'Font Awesome 6 Free';
    background-color: #fff;
    color: #080118;
}

.calculator_container .calculator_buttons .correct_btn {
    font-family: 'Font Awesome 6 Free';
}

.calculator_container .calculator_buttons .equals_btn {
    background-color: #f58c36;
}

.zero_btn {
    grid-column: span 2;
}

@media screen and (max-width: 450px) {
    .calculator_container .calculator_buttons {
        grid-template-columns: repeat(4, 70px);
        justify-content: center;
    }

    .calculator_display h2 {
        font-size: 1.5rem;
    }

    .calculator_display .expression_display .expression {
        font-size: 2.2rem;
        width: 260px;
    }

    .calculator_container .calculator_buttons {
        column-gap: 0px;
        row-gap: 30px;
    }

    .calculator_container .calculator_buttons button {
        font-size: 1.3rem;
        padding: 20px 10px;
    }
}